.Cont {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.Version {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}
.Link {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
