$gap: 5px;

.gameContainer {
  display: flex;
  flex-direction: column;
  width: calc(750px + $gap * 14);
  margin: auto;
  gap: $gap;
  background-color: #04292e;
}
.gameContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: $gap;
}

.titel {
  text-align: center;
}
.svgCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
.svg {
  width: calc(750px + $gap * 14);
  height: calc(750px + $gap * 14);
}
